<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Binance Live Price</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon/favicon.ico') }}"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
  <style>
      body {
          padding-top: 50px;
          padding-bottom: 20px;
      }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">

  <script src="{{ url_for('static', filename='assets/js/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>

  {% block meta %}{% endblock %}

</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Binance Live Price</a>

          {% if data['env_var']['status'] %}
            ENV ✅
          {% else %}
            ❗️ENV ❌
          {% endif %}

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <div class="container">

        <div class="row mt-4">


          <div id="btc-danger-alert">
            <div class="alert alert-danger" role="alert">
              Danger!!!! App crushed, BTC price NOT LIVE, Urgent!!!! restart app aws elastic beanstalk
            </div>
          </div>

          <div id="eth-danger-alert">
            <div class="alert alert-danger" role="alert">
              Danger!!!! App crushed, ETH price NOT LIVE, Urgent!!!! restart app aws elastic beanstalk
            </div>
          </div>


          <div class="col-6 col-xs-12">

            <div id="btc" class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal symbol">
                  BTC
                </h4>
              </div>
              <div class="card-body">
                <h1 id="price-btc" class="price card-title pricing-card-title">
                  $00000.00
                </h1>
                <p id="price-btc-time" class="date">
                  Jan 01 1790 10:12:39
                </p>
              </div>
            </div>

          </div>


          <div class="col-6 col-xs-12">
          
            <div id="eth" class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal symbol">
                  ETH
                </h4>
              </div>
              <div class="card-body">
                <h1 id="price-eth" class="price card-title pricing-card-title">
                  $00000.00
                </h1>
                <p id="price-eth-time" class="date">
                  Jan 01 1790 10:12:39
                </p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  <main id="main" class="main container">

    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

  </main>

      <hr>

      <footer class="container">
        <p>&copy; BullParrot 2023 | Last updated: 28.03.2023</p>
      </footer>

    </div> <!-- /container --> 

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='assets/js/jquery-1.11.2.min.js') }}"><\/script>')</script>
        <script
			  src="https://code.jquery.com/jquery-3.6.3.min.js"
			  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
			  crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>