

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
   padding-top: 0px;
}
   

#btc .card-header {
   background-color: #00e7ff;
}


#eth .card-header {
   background-color: #afff00;
}

.navbar-header {
   color: white;
}

.price-error {
   background-color: red;
   padding: 10px;
}




